<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<form action="@{/posts/create}" th:method="post" th:object="${post}">
    <label for="postTitle">Blog Post Title:</label>
    <input type="text" th:field="*{title}" id="postTitle" />
    <br />
    <label for="postBody">Blog Post description:</label>
    <input type="text" th:field="*{body}" id="postBody"/>
    <br />
    <input type="submit" />
</form>
</body>
</html>